<form action="/criado"
      method="POST"
      class="form-ra d-flex 
      align-items-center 
      flex-column 
      justify-content-around">

        <div class="mb-3 container-fluid container-form">
          <label for="nome" class="form-label">Nome</label>
          <input 
          type="text" 
          class="form-control" 
          id="nome"
          name="nome"
          placeholder="Digite o seu nome">

        </div>

        <div class="mb-3 container-fluid container-form">
          <label for="ra" class="form-label">RA do aluno</label>
          <input 
          type="text" 
          class="form-control" 
          id="ra"
          name="ra"
          placeholder="Digite o seu RA">

        </div>
        
        <div class="d-grid gap-2 col-3 mx-auto">
          <button class="btn btn-success btn-code" type="submit">Gerar QRcode</button>
        </div>
      </form>