<section class="d-grid gap-2 col-3 mx-auto">

    <a href="/gerador" class="btn btn-success btn-lg">Gerar QRCode</a>
    <a href="/pergunta" class="btn btn-success btn-lg">Marcar Presença</a>

</section>