<section class="d-flex align-items-center flex-column justify-content-between">
    <script src="/js/form.js"></script>

    <select class="form-select" aria-label="Congresso FASIPE">
        <option selected>Selecione o congresso</option>
        <option value="ciencias" id="ciencias">Área Ciências</option>
        <option value="saude" id="saude">Área Saúde</option>
    </select>

    <a href="" id="registros" class="btn btn-success btn-listar mt-3" onclick="Qrcodes()">Listar QRCode</a>
</section>