<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS 5.2.0 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- CSS gerador. -->
    <link rel="stylesheet" href="/css/index.css">
    <title>Gerador de QRCode</title>
    <link rel="shortcut icon" href="/img/fasipe.png" type="image/x-icon">
</head>
<body>
    <%- include("header"); -%>

    <section class="d-grid gap-2 col-3 mx-auto">
        <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
            <form action="/registros_ciencias" method="post" class="form-ra d-flex align-items-center flex-column justify-content-around">
                <button type="submit" class="btn btn-success btn-lg">BD - Ciências</button>
            </form>
            <form action="/registros_saude" method="post" class="form-ra d-flex align-items-center flex-column justify-content-around">
                <button type="submit" class="btn btn-success btn-lg">BD - Saúde</button>
            </form>
        </div>
    </section>

    <%- include("footer"); -%>
</body>
</html>