<nav class="navbar navbar-dark">
    <div class="container-fluid">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="/img/fasipe.png" alt="Logo Fasipe" width="180" height="100" class="d-inline-block align-text-top">
        <span class="t-header fs-4 fw-bolder text-success fst-italic text-decoration-underline">II CONGRESSO<br>FASIPE</span>
      </a>
    </div>
</nav>