<nav class="navbar navbar-expand-lg d-flex px-5">
    <div class="container-fluid">
        <a href="/">
            <img src="/img/fasipe.png" alt="Logo Fasipe" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 div-container">
            <!-- <li class="nav-item">
            <span class="titulo-congresso">II CONGRESSO FASIPE</span>
            </li> -->

            <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" href="/">Home</a> -->
            <a href="/" class="nav-link btn-entrada">
                Listar QRcodes
            </a>
            </li>
        </ul>
        </div>
    </div>
</nav>