<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS 5.2.0 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- CSS gerador. -->
    <link rel="stylesheet" href="/css/index.css">
    <title>[SYSTEM] - Marcar Presença</title>
    <link rel="shortcut icon" href="/img/fasipe.png" type="image/x-icon">
</head>
<body>

    <section class="d-grid gap-2 col-3 mx-auto">
        <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
            <h1 class="fs-4">MARCAR ENTRADA</h1>
            <a href="/entrada_ciencias">Ciências Sociais</a>
            <a href="/entrada_saude">Saúde</a>
            <hr>
            <h1 class="fs-4">MARCAR SAÍDA</h1>
            <a href="/saida_ciencias">Ciências Sociais</a>
            <a href="/saida_saude">Saúde</a>
        </div>
    </section>

</body>
</html>