<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS 5.2.0 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>[SYSTEM] - Aprovado</title>
    <link rel="shortcut icon" href="/img/fasipe.png" type="image/x-icon">
</head>
<body>
    
    <section class="container">
        <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
            <img src="/img/fasipe.png" alt="Logo Fasipe" width="220" height="140">
            <h1 class="fs-5 fst-italic text-success text-decoration-underline">SAÍDA MARCADA COM SUCESSO</h1>
        </div>
    </section>

    <!-- Script de redirecionamento. -->
    <script type="text/javascript" src="/js/redirect_sciencias.js"></script>

</body>
</html>