<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/verificado.css">
    <title>Verificado</title>
</head>
<body>

    <h1>teste</h1>

    <span>
        <%= aluno.nome %>
    </span>

    <span>
        <%= aluno.curso %>
    </span>

    <div class="qr-code">
        <%= code%>
    </div>

</body>
</html>