.img-ds {
    position: relative;
    display: inline-block;
}
  
.texto-ds {
    text-align: center;
    position: absolute;
    top: 43%;
    left: 10%;
    right: 10%;
    color: white;
}
.texto-ds2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    color: white;
}

.img-ds2 {
    position: absolute;
    top: 55%;
    left: 26%;
}